# Dependency directories
node_modules/
/node_modules

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env*.local

# misc
.DS_Store
*.pem

# lock files
package-lock.json
yarn-lock.json
yarn.lock

# vscode
.vscode

# fern
debug.log
