{
  "x-generated-warning": "⚠️ This file is auto-generated. Do not edit manually",
  "openapi": "3.1.0",
  "info": {
    "title": "🧠 Data",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.g.alchemy.com/data/v1"
    }
  ],
  "paths": {
    "/{apiKey}/assets/tokens/by-address": {
      "post": {
        "summary": "Tokens By Wallet",
        "description": "Fetches fungible tokens (native and ERC-20) for multiple wallet addresses and networks. Returns a list of tokens with balances, prices, and metadata for each wallet/network combination. This endpoint is supported on Ethereum, Solana, and 30+ EVM chains. See the full list of supported networks [here](https://dashboard.alchemy.com/chains?service=token-api&utm_source=readme&utm_medium=link&utm_campaign=docs_method_chains_link_v1_tokens).\n",
        "tags": ["📚 Portfolio APIs"],
        "x-readme": {
          "samples-languages": ["javascript", "curl", "python", "go"]
        },
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "docs-demo",
              "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nFor higher throughput, <span class=\"custom-style\"><a href=\"https://alchemy.com/?a=docs-demo\" target=\"_blank\">create your own API key</a></span>\n"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2,
                    "description": "Array of address and networks pairs (limit 2 pairs, max 5 networks each). Networks should match network enums.\n",
                    "items": {
                      "type": "array",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Wallet address.",
                          "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                          "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                        },
                        "networks": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 5,
                          "default": [
                            "eth-mainnet",
                            "base-mainnet",
                            "matic-mainnet"
                          ],
                          "items": {
                            "type": "string",
                            "default": "eth-mainnet"
                          },
                          "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                        }
                      },
                      "required": ["address", "networks"]
                    }
                  },
                  "withMetadata": {
                    "description": "Boolean - if set to `true`, returns metadata. Setting this to false will reduce payload size and may result in a faster API call. Defaults to `true`.",
                    "type": "boolean",
                    "default": true
                  },
                  "withPrices": {
                    "description": "Boolean - if set to `true`, returns token prices. Setting this to false will reduce payload size and may result in a faster API call. Defaults to `true`.",
                    "type": "boolean",
                    "default": true
                  },
                  "includeNativeTokens": {
                    "type": "boolean",
                    "description": "Whether to include each chain's native token in the response (e.g. ETH on Ethereum). The native token will have a null contract address.",
                    "example": true,
                    "default": true
                  }
                },
                "required": ["addresses"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of tokens by address, with prices and metadata.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "network": {
                            "type": "string",
                            "description": "Network identifier."
                          },
                          "address": {
                            "type": "string",
                            "description": "Wallet address."
                          },
                          "tokenAddress": {
                            "type": "string",
                            "description": "Token address."
                          },
                          "tokenBalance": {
                            "type": "string",
                            "description": "Balance of that particular token."
                          },
                          "tokenMetadata": {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "default": 1
                                  },
                                  "jsonrpc": {
                                    "type": "string",
                                    "default": "2.0"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "method": {
                                    "default": "alchemy_getTokenMetadata",
                                    "type": "string"
                                  },
                                  "params": {
                                    "type": "array",
                                    "description": "string, 20 Bytes - Singular address for the token contract.",
                                    "minItems": 1,
                                    "maxItems": 1,
                                    "items": {
                                      "type": "string",
                                      "default": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
                                    }
                                  }
                                }
                              }
                            ]
                          },
                          "tokenPrices": {
                            "type": "object",
                            "properties": {
                              "network": {
                                "type": "string",
                                "description": "Network identifier."
                              },
                              "address": {
                                "type": "string",
                                "description": "Token contract address."
                              },
                              "prices": {
                                "type": "array",
                                "description": "List of price information.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "currency": {
                                      "type": "string",
                                      "description": "Currency code (e.g., USD)."
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "Price value as a string."
                                    },
                                    "lastUpdatedAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Time when the price was last updated."
                                    }
                                  },
                                  "required": [
                                    "currency",
                                    "value",
                                    "lastUpdatedAt"
                                  ]
                                }
                              },
                              "error": {
                                "type": ["string", "null"],
                                "description": "Error message if applicable."
                              }
                            },
                            "required": [
                              "network",
                              "address",
                              "prices",
                              "error"
                            ]
                          }
                        },
                        "required": [
                          "network",
                          "address",
                          "tokenAddress",
                          "tokenBalance"
                        ]
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid input (e.g., malformed JSON).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        },
        "operationId": "get-tokens-by-address"
      }
    },
    "/{apiKey}/assets/tokens/balances/by-address": {
      "post": {
        "summary": "Token Balances By Wallet",
        "description": "Fetches fungible tokens (native and ERC-20) for multiple wallet addresses and networks. Returns a list of tokens with balances for each wallet/network combination. This endpoint is supported on Ethereum, Solana, and 30+ EVM chains. See the full list of supported networks [here](https://dashboard.alchemy.com/chains?service=token-api&utm_source=readme&utm_medium=link&utm_campaign=docs_method_chains_link_v1_tokens)\n",
        "tags": ["📚 Portfolio APIs"],
        "x-readme": {
          "samples-languages": ["javascript", "curl", "python", "go"]
        },
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "docs-demo",
              "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nFor higher throughput, <span class=\"custom-style\"><a href=\"https://alchemy.com/?a=docs-demo\" target=\"_blank\">create your own API key</a></span>\n"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 3,
                    "description": "Array of address and networks pairs (limit 3 pairs, max 20 networks each). Networks should match network enums.\n",
                    "items": {
                      "type": "array",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Wallet address.",
                          "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                          "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                        },
                        "networks": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 20,
                          "default": [
                            "eth-mainnet",
                            "base-mainnet",
                            "matic-mainnet"
                          ],
                          "items": {
                            "type": "string",
                            "default": "eth-mainnet"
                          },
                          "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                        }
                      },
                      "required": ["address", "networks"]
                    }
                  },
                  "includeNativeTokens": {
                    "type": "boolean",
                    "description": "Whether to include each chain's native token in the response (e.g. ETH on Ethereum). The native token will have a null contract address.",
                    "example": true,
                    "default": true
                  }
                },
                "required": ["addresses"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of token balances by address.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "network": {
                            "type": "string",
                            "description": "Network identifier."
                          },
                          "address": {
                            "type": "string",
                            "description": "Wallet address."
                          },
                          "tokenAddress": {
                            "type": "string",
                            "description": "Token address."
                          },
                          "tokenBalance": {
                            "type": "string",
                            "description": "Balance of that particular token."
                          }
                        },
                        "required": [
                          "network",
                          "address",
                          "tokenAddress",
                          "tokenBalance"
                        ]
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid input (e.g., malformed JSON).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        },
        "operationId": "get-token-balances-by-address"
      }
    },
    "/{apiKey}/assets/nfts/by-address": {
      "post": {
        "summary": "NFTs By Wallet",
        "description": "Fetches NFTs for multiple wallet addresses and networks. Returns a list of NFTs and metadata for each wallet/network combination. This endpoint is supported on Ethereum and many L2s, including Polygon, Arbitrum, Optimism, Base, World Chain and more. See the full list of supported networks [here](https://dashboard.alchemy.com/chains?service=token-api&utm_source=readme&utm_medium=link&utm_campaign=docs_method_chains_link_v1_tokens).\n",
        "tags": ["📚 Portfolio APIs"],
        "x-readme": {
          "samples-languages": ["javascript", "curl", "python", "go"]
        },
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "docs-demo",
              "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nFor higher throughput, <span class=\"custom-style\"><a href=\"https://alchemy.com/?a=docs-demo\" target=\"_blank\">create your own API key</a></span>\n"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2,
                    "description": "Array of address and networks pairs (limit 2 pairs, max 15 networks each). Networks should match network enums.\n",
                    "items": {
                      "type": "array",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Wallet address.",
                          "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                          "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                        },
                        "networks": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 5,
                          "default": [
                            "eth-mainnet",
                            "base-mainnet",
                            "matic-mainnet"
                          ],
                          "items": {
                            "type": "string",
                            "enum": [
                              "eth-mainnet",
                              "eth-sepolia",
                              "eth-holesky",
                              "avax-mainnet",
                              "avax-fuji",
                              "zksync-mainnet",
                              "opt-mainnet",
                              "polygon-mainnet",
                              "polygon-amoy",
                              "arb-mainnet",
                              "arb-sepolia",
                              "blast-mainnet",
                              "blast-sepolia",
                              "base-mainnet",
                              "base-sepolia",
                              "soneium-mainnet",
                              "soneium-minato",
                              "scroll-mainnet",
                              "scroll-sepolia",
                              "shape-mainnet",
                              "shape-sepolia",
                              "lens-mainnet",
                              "lens-sepolia",
                              "starknet-mainnet",
                              "starknet-sepolia",
                              "rootstock-mainnet",
                              "rootstock-testnet",
                              "linea-mainnet",
                              "linea-sepolia",
                              "settlus-septestnet",
                              "abstract-mainnet",
                              "abstract-testnet",
                              "apechain-mainnet"
                            ],
                            "default": "eth-mainnet"
                          },
                          "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                        },
                        "excludeFilters": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": ["SPAM", "AIRDROPS"],
                            "default": "SPAM"
                          }
                        },
                        "includeFilters": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": ["SPAM", "AIRDROPS"],
                            "default": "SPAM"
                          }
                        },
                        "spamConfidenceLevel": {
                          "type": "string",
                          "enum": ["VERY_HIGH", "HIGH", "MEDIUM", "LOW"]
                        }
                      },
                      "required": ["address", "networks"]
                    }
                  },
                  "withMetadata": {
                    "description": "Boolean - if set to `true`, returns metadata. Setting this to false will reduce payload size and may result in a faster API call. Defaults to `true`.",
                    "type": "boolean",
                    "default": true
                  },
                  "pageKey": {
                    "type": "string"
                  },
                  "pageSize": {
                    "type": "integer",
                    "default": 100
                  }
                },
                "required": ["addresses"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "List of nfts by address with appropriate metadata.",
                      "ownedNfts": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/NFTResponseItem"
                        },
                        "totalCount": {
                          "$ref": "../nft/nft.yaml#/components/schemas/totalNFTCount"
                        },
                        "pageKey": {
                          "$ref": "../nft/nft.yaml#/components/schemas/pageKey"
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid input (e.g., malformed JSON).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        },
        "operationId": "get-nfts-by-address"
      }
    },
    "/{apiKey}/assets/nfts/contracts/by-address": {
      "post": {
        "summary": "NFT Collections By Wallet",
        "description": "Fetches NFT collections (contracts) for multiple wallet addresses and networks. Returns a list of collections and metadata for each wallet/network combination. This endpoint is supported on Ethereum and many L2s, including Polygon, Arbitrum, Optimism, Base, World Chain and more. See the full list of supported networks [here](https://dashboard.alchemy.com/chains?service=token-api&utm_source=readme&utm_medium=link&utm_campaign=docs_method_chains_link_v1_tokens).\n",
        "tags": ["📚 Portfolio APIs"],
        "x-readme": {
          "samples-languages": ["javascript", "curl", "python", "go"]
        },
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "docs-demo",
              "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nFor higher throughput, <span class=\"custom-style\"><a href=\"https://alchemy.com/?a=docs-demo\" target=\"_blank\">create your own API key</a></span>\n"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2,
                    "description": "Array of address and networks pairs (limit 2 pairs, max 5 networks each). Networks should match network enums.\n",
                    "items": {
                      "type": "array",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Wallet address.",
                          "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                          "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                        },
                        "networks": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 5,
                          "default": [
                            "eth-mainnet",
                            "base-mainnet",
                            "matic-mainnet"
                          ],
                          "items": {
                            "type": "string",
                            "default": "eth-mainnet"
                          },
                          "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                        }
                      },
                      "required": ["address", "networks"]
                    }
                  },
                  "withMetadata": {
                    "description": "Boolean - if set to `true`, returns metadata. Setting this to false will reduce payload size and may result in a faster API call. Defaults to `true`.",
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": ["addresses"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "List of nfts by address with appropriate metadata.",
                      "ownedNfts": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/NFTResponseItem"
                        },
                        "totalCount": {
                          "$ref": "../nft/nft.yaml#/components/schemas/totalNFTCount"
                        },
                        "pageKey": {
                          "$ref": "../nft/nft.yaml#/components/schemas/pageKey"
                        }
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid input (e.g., malformed JSON).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        },
        "operationId": "get-nft-contracts-by-address"
      }
    },
    "/{apiKey}/transactions/history/by-address": {
      "post": {
        "summary": "Transactions By Wallet",
        "description": "Fetches all historical transactions (internal & external) for multiple wallet addresses and networks. Returns a list of transaction objects with metadata and log information. This endpoint will be supported on Ethereum, Solana, and 30+ EVM chains (Beta: currently limited to Ethereum and Base with a limit of 1 address)\n",
        "tags": ["📚 Portfolio APIs"],
        "x-readme": {
          "samples-languages": ["javascript", "curl", "python", "go"]
        },
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "docs-demo",
              "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nFor higher throughput, <span class=\"custom-style\"><a href=\"https://alchemy.com/?a=docs-demo\" target=\"_blank\">create your own API key</a></span>\n"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1,
                    "description": "Array of address and networks pairs (limit 1 pairs, max 2 networks). Networks should match network enums.\n",
                    "items": {
                      "type": "array",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Wallet address.",
                          "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                          "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                        },
                        "networks": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 2,
                          "default": ["eth-mainnet", "base-mainnet"],
                          "items": {
                            "type": "string",
                            "default": "eth-mainnet"
                          },
                          "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\n(In BETA and only accepts ETH & BASE mainnets). Network identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                        }
                      },
                      "required": ["address", "networks"]
                    }
                  },
                  "before": {
                    "type": "string",
                    "description": "The cursor that points to the previous set of results."
                  },
                  "after": {
                    "type": "string",
                    "description": "The cursor that points to the end of the current set of results."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Sets the maximum number of items per page (Max: 100)",
                    "default": 25
                  }
                },
                "required": ["addresses"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "before": {
                      "type": "string",
                      "description": "The cursor that points to the previous set of results."
                    },
                    "after": {
                      "type": "string",
                      "description": "The cursor that points to the end of the current set of results."
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Total count of the response items."
                    },
                    "transctions": {
                      "type": "array",
                      "description": "List of transactions by address.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "network": {
                            "type": "string",
                            "description": "Network associated with an individual transaction"
                          },
                          "hash": {
                            "type": "string",
                            "description": "Transaction hash"
                          },
                          "timeStamp": {
                            "type": "string",
                            "description": "(ISO 8601)  Timestamp of transaction mining / confirmation"
                          },
                          "blockNumber": {
                            "type": "integer",
                            "description": "Block number of transaction mining / confirmation"
                          },
                          "blockHash": {
                            "type": "string",
                            "description": "Block hash of transaction mining / confirmation"
                          },
                          "nonce": {
                            "type": "integer",
                            "description": "Transaction nonce"
                          },
                          "transactionIndex": {
                            "type": "integer",
                            "description": "Position of transaction within a block"
                          },
                          "fromAddress": {
                            "type": "string",
                            "description": "From address of transaction (hex string)."
                          },
                          "toAddress": {
                            "type": "string",
                            "description": "To address of transaction (hex string). null if contract creation."
                          },
                          "contractAddress": {
                            "type": "string",
                            "description": "20 Bytes - The contract address created, if the transaction was a contract creation, otherwise null"
                          },
                          "value": {
                            "type": "string",
                            "description": "(uint8) Value of native token value moved within the external transaction"
                          },
                          "cumulativeGasUsed": {
                            "type": "string",
                            "description": "The total amount of gas used when this transaction was executed in the block."
                          },
                          "effectiveGasPrice": {
                            "type": "string",
                            "description": "Gas price parameter"
                          },
                          "gasUsed": {
                            "type": "string",
                            "description": "The amount of gas used by this specific transaction alone"
                          },
                          "logs": {
                            "type": "array",
                            "description": "Array of log objects, which this transaction generated",
                            "items": {
                              "type": "object",
                              "properties": {
                                "contractAddress": {
                                  "type": "string",
                                  "description": "20 Bytes - contract address from which this log originated."
                                },
                                "logIndex": {
                                  "type": "string",
                                  "description": "Integer of the log index position in the block. null when its pending log."
                                },
                                "data": {
                                  "type": "string",
                                  "description": "Contains one or more 32 Bytes non-indexed arguments of the log."
                                },
                                "removed": {
                                  "type": "boolean",
                                  "description": "true when the log was removed, due to a chain reorganization. false if its a valid log."
                                },
                                "topics": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Array of zero to four 32 Bytes DATA of indexed log arguments"
                                }
                              }
                            }
                          },
                          "internalTxns": {
                            "type": "array",
                            "description": "Array of internal transaction objects, which this transaction generated",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "CALL or CREATE"
                                },
                                "fromAddress": {
                                  "type": "string",
                                  "description": "20 Bytes - address of the sender"
                                },
                                "toAddress": {
                                  "type": "string",
                                  "description": "20 Bytes - address of the receiver. null when its a contract creation transaction"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "amount of value for transfer (in hex)"
                                },
                                "gas": {
                                  "type": "string",
                                  "description": "amount of gas provided for the call (in hex)"
                                },
                                "gasUsed": {
                                  "type": "string",
                                  "description": "amount of gas used during the call (in hex)"
                                },
                                "input": {
                                  "type": "string",
                                  "description": "call data"
                                },
                                "output": {
                                  "type": "string",
                                  "description": "return data"
                                },
                                "error": {
                                  "type": "string",
                                  "description": "error, if any"
                                },
                                "revertReason": {
                                  "type": "string",
                                  "description": "solidity revert reason, if any"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": ["transactions"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid input (e.g., malformed JSON).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        },
        "operationId": "get-transaction-history-by-address"
      }
    },
    "/{apiKey}/assets/nfts": {
      "post": {
        "summary": "Placeholder for NFT API",
        "description": "Placeholder for the NFT API - in order to update this you'll need to move it back and forth.\n",
        "tags": ["🎨 NFT API"],
        "x-readme": {
          "samples-languages": ["javascript", "curl", "python", "go"]
        },
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "docs-demo",
              "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nFor higher throughput, <span class=\"custom-style\"><a href=\"https://alchemy.com/?a=docs-demo\" target=\"_blank\">create your own API key</a></span>\n"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2,
                    "description": "Array of address and networks pairs (limit 2 pairs, max 5 networks each). Networks should match network enums.\n",
                    "items": {
                      "type": "array",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Wallet address.",
                          "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                          "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                        },
                        "networks": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 5,
                          "default": [
                            "eth-mainnet",
                            "base-mainnet",
                            "matic-mainnet"
                          ],
                          "items": {
                            "type": "string",
                            "default": "eth-mainnet"
                          },
                          "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                        }
                      },
                      "required": ["address", "networks"]
                    }
                  }
                },
                "required": ["addresses"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of token price data.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string",
                            "description": "Token symbol."
                          },
                          "prices": {
                            "type": "array",
                            "description": "List of price information.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "description": "Currency code (e.g., USD)."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Price value as a string."
                                },
                                "lastUpdatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Time when the price was last updated."
                                }
                              },
                              "required": ["currency", "value", "lastUpdatedAt"]
                            }
                          },
                          "error": {
                            "type": "string",
                            "nullable": true,
                            "description": "Error message if applicable."
                          }
                        },
                        "required": ["symbol", "prices", "error"]
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          }
        },
        "operationId": "get-nfts-by-address-placeholder"
      }
    },
    "/{apiKey}/assets/tokens": {
      "post": {
        "summary": "Placeholder for Tokens API",
        "description": "Placeholder for the Prices API - in order to update this you'll need to move it back and forth.\n",
        "tags": ["🪙 Token API"],
        "x-readme": {
          "samples-languages": ["javascript", "curl", "python", "go"]
        },
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "docs-demo",
              "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nFor higher throughput, <span class=\"custom-style\"><a href=\"https://alchemy.com/?a=docs-demo\" target=\"_blank\">create your own API key</a></span>\n"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2,
                    "description": "Array of address and networks pairs (limit 2 pairs, max 5 networks each). Networks should match network enums.\n",
                    "items": {
                      "type": "array",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Wallet address.",
                          "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                          "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                        },
                        "networks": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 5,
                          "default": [
                            "eth-mainnet",
                            "base-mainnet",
                            "matic-mainnet"
                          ],
                          "items": {
                            "type": "string",
                            "default": "eth-mainnet"
                          },
                          "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                        }
                      },
                      "required": ["address", "networks"]
                    }
                  }
                },
                "required": ["addresses"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of token price data.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string",
                            "description": "Token symbol."
                          },
                          "prices": {
                            "type": "array",
                            "description": "List of price information.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "description": "Currency code (e.g., USD)."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Price value as a string."
                                },
                                "lastUpdatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Time when the price was last updated."
                                }
                              },
                              "required": ["currency", "value", "lastUpdatedAt"]
                            }
                          },
                          "error": {
                            "type": "string",
                            "nullable": true,
                            "description": "Error message if applicable."
                          }
                        },
                        "required": ["symbol", "prices", "error"]
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          }
        },
        "operationId": "get-tokens-by-address-placeholder"
      }
    },
    "/{apiKey}/assets/prices": {
      "post": {
        "summary": "Placeholder for Prices API",
        "description": "Placeholder for the Prices API - in order to update this you'll need to move it back and forth.\n",
        "tags": ["📈 Prices API"],
        "x-readme": {
          "samples-languages": ["javascript", "curl", "python", "go"]
        },
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "docs-demo",
              "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nFor higher throughput, <span class=\"custom-style\"><a href=\"https://alchemy.com/?a=docs-demo\" target=\"_blank\">create your own API key</a></span>\n"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2,
                    "description": "Array of address and networks pairs (limit 2 pairs, max 5 networks each). Networks should match network enums.\n",
                    "items": {
                      "type": "array",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Wallet address.",
                          "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                          "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                        },
                        "networks": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 5,
                          "default": [
                            "eth-mainnet",
                            "base-mainnet",
                            "matic-mainnet"
                          ],
                          "items": {
                            "type": "string",
                            "default": "eth-mainnet"
                          },
                          "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                        }
                      },
                      "required": ["address", "networks"]
                    }
                  }
                },
                "required": ["addresses"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of token price data.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string",
                            "description": "Token symbol."
                          },
                          "prices": {
                            "type": "array",
                            "description": "List of price information.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "description": "Currency code (e.g., USD)."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Price value as a string."
                                },
                                "lastUpdatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Time when the price was last updated."
                                }
                              },
                              "required": ["currency", "value", "lastUpdatedAt"]
                            }
                          },
                          "error": {
                            "type": "string",
                            "nullable": true,
                            "description": "Error message if applicable."
                          }
                        },
                        "required": ["symbol", "prices", "error"]
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid input (e.g., malformed JSON).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        },
        "operationId": "get-tokens-prices-by-address-placeholder"
      }
    },
    "/{apiKey}/assets/transfers": {
      "post": {
        "summary": "Placeholder for Transfers API",
        "description": "Placeholder for the Transfers API - in order to update this you'll need to move it back and forth.\n",
        "tags": ["💸 Transfers API"],
        "x-readme": {
          "samples-languages": ["javascript", "curl", "python", "go"]
        },
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "docs-demo",
              "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nFor higher throughput, <span class=\"custom-style\"><a href=\"https://alchemy.com/?a=docs-demo\" target=\"_blank\">create your own API key</a></span>\n"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2,
                    "description": "Array of address and networks pairs (limit 2 pairs, max 5 networks each). Networks should match network enums.\n",
                    "items": {
                      "type": "array",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Wallet address.",
                          "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                          "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                        },
                        "networks": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 5,
                          "default": [
                            "eth-mainnet",
                            "base-mainnet",
                            "matic-mainnet"
                          ],
                          "items": {
                            "type": "string",
                            "default": "eth-mainnet"
                          },
                          "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                        }
                      },
                      "required": ["address", "networks"]
                    }
                  }
                },
                "required": ["addresses"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of token price data.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string",
                            "description": "Token symbol."
                          },
                          "prices": {
                            "type": "array",
                            "description": "List of price information.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "description": "Currency code (e.g., USD)."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Price value as a string."
                                },
                                "lastUpdatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Time when the price was last updated."
                                }
                              },
                              "required": ["currency", "value", "lastUpdatedAt"]
                            }
                          },
                          "error": {
                            "type": "string",
                            "nullable": true,
                            "description": "Error message if applicable."
                          }
                        },
                        "required": ["symbol", "prices", "error"]
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid input (e.g., malformed JSON).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        },
        "operationId": "get-transfers-by-address-placeholder"
      }
    },
    "/{apiKey}/utility/blocks/by-timestamp": {
      "get": {
        "summary": "Blocks by Timestamp",
        "description": "Fetches the first block before or after a given timestamp. Returns the block's number and on-chain timestamp.",
        "tags": ["🛠️ Utility APIs"],
        "x-readme": {
          "samples-languages": ["javascript", "curl", "python", "go"]
        },
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "docs-demo",
              "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nFor higher throughput, <span class=\"custom-style\"><a href=\"https://alchemy.com/?a=docs-demo\" target=\"_blank\">create your own API key</a></span>\n"
            },
            "required": true
          },
          {
            "name": "networks",
            "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nArray of networks to query on. The response will be an array with one block per network. Find network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 3,
              "items": {
                "type": "string",
                "default": "eth-mainnet"
              }
            },
            "in": "query",
            "required": true
          },
          {
            "name": "timestamp",
            "description": "Unix or ISO timestamp",
            "schema": {
              "type": "string",
              "default": "2025-02-28T19:38:57Z"
            },
            "required": true,
            "in": "query"
          },
          {
            "name": "direction",
            "required": true,
            "description": "Return the first block \"BEFORE\" or \"AFTER\" the provided timestamp",
            "schema": {
              "type": "string",
              "enum": ["BEFORE", "AFTER"],
              "default": "AFTER"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of blocks",
                      "items": {
                        "type": "object",
                        "properties": {
                          "network": {
                            "type": "string",
                            "description": "Network identifier"
                          },
                          "block": {
                            "type": "object",
                            "properties": {
                              "number": {
                                "type": "integer",
                                "description": "Block number"
                              },
                              "timestamp": {
                                "type": "string",
                                "description": "ISO timestamp of the block"
                              }
                            },
                            "required": ["number", "timestamp"]
                          }
                        },
                        "required": ["network", "block"]
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Malformed request or missing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Detailed error message."
                        }
                      },
                      "required": ["message"],
                      "description": "Error details."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        },
        "operationId": "blocks-by-timestamp"
      }
    },
    "/{apiKey}/subgraphs": {
      "post": {
        "summary": "Placeholder for Subgraphs",
        "description": "Placeholder for the Subgraphs - in order to update this you'll need to move it back and forth.\n",
        "tags": ["🍊 Subgraphs"],
        "x-readme": {
          "samples-languages": ["javascript", "curl", "python", "go"]
        },
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "docs-demo",
              "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nFor higher throughput, <span class=\"custom-style\"><a href=\"https://alchemy.com/?a=docs-demo\" target=\"_blank\">create your own API key</a></span>\n"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2,
                    "description": "Array of address and networks pairs (limit 2 pairs, max 5 networks each). Networks should match network enums.\n",
                    "items": {
                      "type": "array",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Wallet address.",
                          "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                          "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                        },
                        "networks": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 5,
                          "default": [
                            "eth-mainnet",
                            "base-mainnet",
                            "matic-mainnet"
                          ],
                          "items": {
                            "type": "string",
                            "default": "eth-mainnet"
                          },
                          "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                        }
                      },
                      "required": ["address", "networks"]
                    }
                  }
                },
                "required": ["addresses"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of token price data.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string",
                            "description": "Token symbol."
                          },
                          "prices": {
                            "type": "array",
                            "description": "List of price information.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "description": "Currency code (e.g., USD)."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Price value as a string."
                                },
                                "lastUpdatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Time when the price was last updated."
                                }
                              },
                              "required": ["currency", "value", "lastUpdatedAt"]
                            }
                          },
                          "error": {
                            "type": "string",
                            "nullable": true,
                            "description": "Error message if applicable."
                          }
                        },
                        "required": ["symbol", "prices", "error"]
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          }
        },
        "operationId": "subgraphs-placeholder"
      }
    },
    "/{apiKey}/assets/webhooks": {
      "post": {
        "summary": "Placeholder for Webhooks",
        "description": "Placeholder for the Webhooks - in order to update this you'll need to move it back and forth.\n",
        "tags": ["🔔 Webhooks"],
        "x-readme": {
          "samples-languages": ["javascript", "curl", "python", "go"]
        },
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "docs-demo",
              "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nFor higher throughput, <span class=\"custom-style\"><a href=\"https://alchemy.com/?a=docs-demo\" target=\"_blank\">create your own API key</a></span>\n"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2,
                    "description": "Array of address and networks pairs (limit 2 pairs, max 5 networks each). Networks should match network enums.\n",
                    "items": {
                      "type": "array",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Wallet address.",
                          "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                          "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                        },
                        "networks": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 5,
                          "default": [
                            "eth-mainnet",
                            "base-mainnet",
                            "matic-mainnet"
                          ],
                          "items": {
                            "type": "string",
                            "default": "eth-mainnet"
                          },
                          "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                        }
                      },
                      "required": ["address", "networks"]
                    }
                  }
                },
                "required": ["addresses"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of token price data.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string",
                            "description": "Token symbol."
                          },
                          "prices": {
                            "type": "array",
                            "description": "List of price information.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "description": "Currency code (e.g., USD)."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Price value as a string."
                                },
                                "lastUpdatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Time when the price was last updated."
                                }
                              },
                              "required": ["currency", "value", "lastUpdatedAt"]
                            }
                          },
                          "error": {
                            "type": "string",
                            "nullable": true,
                            "description": "Error message if applicable."
                          }
                        },
                        "required": ["symbol", "prices", "error"]
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          }
        },
        "operationId": "webhooks-placeholder"
      }
    }
  },
  "components": {
    "schemas": {
      "ByAddressRequest": {
        "type": "object",
        "properties": {
          "addresses": {
            "type": "array",
            "minItems": 1,
            "maxItems": 2,
            "description": "Array of address and networks pairs (limit 2 pairs, max 5 networks each). Networks should match network enums.\n",
            "items": {
              "type": "array",
              "properties": {
                "address": {
                  "type": "string",
                  "description": "Wallet address.",
                  "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                  "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                },
                "networks": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 5,
                  "default": ["eth-mainnet", "base-mainnet", "matic-mainnet"],
                  "items": {
                    "type": "string",
                    "default": "eth-mainnet"
                  },
                  "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                }
              },
              "required": ["address", "networks"]
            }
          }
        },
        "required": ["addresses"]
      },
      "ByAddressRequestWith1AddressAnd2Networks": {
        "type": "object",
        "properties": {
          "addresses": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "description": "Array of address and networks pairs (limit 1 pairs, max 2 networks). Networks should match network enums.\n",
            "items": {
              "type": "array",
              "properties": {
                "address": {
                  "type": "string",
                  "description": "Wallet address.",
                  "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                  "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                },
                "networks": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 2,
                  "default": ["eth-mainnet", "base-mainnet"],
                  "items": {
                    "type": "string",
                    "default": "eth-mainnet"
                  },
                  "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\n(In BETA and only accepts ETH & BASE mainnets). Network identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                }
              },
              "required": ["address", "networks"]
            }
          },
          "before": {
            "type": "string",
            "description": "The cursor that points to the previous set of results."
          },
          "after": {
            "type": "string",
            "description": "The cursor that points to the end of the current set of results."
          },
          "limit": {
            "type": "integer",
            "description": "Sets the maximum number of items per page (Max: 100)",
            "default": 25
          }
        },
        "required": ["addresses"]
      },
      "ByAddressRequestWith3PairsAnd20Networks": {
        "type": "object",
        "properties": {
          "addresses": {
            "type": "array",
            "minItems": 1,
            "maxItems": 3,
            "description": "Array of address and networks pairs (limit 3 pairs, max 20 networks each). Networks should match network enums.\n",
            "items": {
              "type": "array",
              "properties": {
                "address": {
                  "type": "string",
                  "description": "Wallet address.",
                  "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                  "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                },
                "networks": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 20,
                  "default": ["eth-mainnet", "base-mainnet", "matic-mainnet"],
                  "items": {
                    "type": "string",
                    "default": "eth-mainnet"
                  },
                  "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                }
              },
              "required": ["address", "networks"]
            }
          },
          "includeNativeTokens": {
            "type": "boolean",
            "description": "Whether to include each chain's native token in the response (e.g. ETH on Ethereum). The native token will have a null contract address.",
            "example": true,
            "default": true
          }
        },
        "required": ["addresses"]
      },
      "ByAddressRequestWithOptions": {
        "type": "object",
        "properties": {
          "addresses": {
            "type": "array",
            "minItems": 1,
            "maxItems": 2,
            "description": "Array of address and networks pairs (limit 2 pairs, max 5 networks each). Networks should match network enums.\n",
            "items": {
              "type": "array",
              "properties": {
                "address": {
                  "type": "string",
                  "description": "Wallet address.",
                  "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                  "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                },
                "networks": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 5,
                  "default": ["eth-mainnet", "base-mainnet", "matic-mainnet"],
                  "items": {
                    "type": "string",
                    "default": "eth-mainnet"
                  },
                  "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                }
              },
              "required": ["address", "networks"]
            }
          },
          "withMetadata": {
            "description": "Boolean - if set to `true`, returns metadata. Setting this to false will reduce payload size and may result in a faster API call. Defaults to `true`.",
            "type": "boolean",
            "default": true
          },
          "withPrices": {
            "description": "Boolean - if set to `true`, returns token prices. Setting this to false will reduce payload size and may result in a faster API call. Defaults to `true`.",
            "type": "boolean",
            "default": true
          },
          "includeNativeTokens": {
            "type": "boolean",
            "description": "Whether to include each chain's native token in the response (e.g. ETH on Ethereum). The native token will have a null contract address.",
            "example": true,
            "default": true
          }
        },
        "required": ["addresses"]
      },
      "ByAddressRequestWithNFTOptionsAndPaging": {
        "type": "object",
        "properties": {
          "addresses": {
            "type": "array",
            "minItems": 1,
            "maxItems": 2,
            "description": "Array of address and networks pairs (limit 2 pairs, max 15 networks each). Networks should match network enums.\n",
            "items": {
              "type": "array",
              "properties": {
                "address": {
                  "type": "string",
                  "description": "Wallet address.",
                  "example": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152",
                  "default": "0x1E6E8695FAb3Eb382534915eA8d7Cc1D1994B152"
                },
                "networks": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 5,
                  "default": ["eth-mainnet", "base-mainnet", "matic-mainnet"],
                  "items": {
                    "type": "string",
                    "enum": [
                      "eth-mainnet",
                      "eth-sepolia",
                      "eth-holesky",
                      "avax-mainnet",
                      "avax-fuji",
                      "zksync-mainnet",
                      "opt-mainnet",
                      "polygon-mainnet",
                      "polygon-amoy",
                      "arb-mainnet",
                      "arb-sepolia",
                      "blast-mainnet",
                      "blast-sepolia",
                      "base-mainnet",
                      "base-sepolia",
                      "soneium-mainnet",
                      "soneium-minato",
                      "scroll-mainnet",
                      "scroll-sepolia",
                      "shape-mainnet",
                      "shape-sepolia",
                      "lens-mainnet",
                      "lens-sepolia",
                      "starknet-mainnet",
                      "starknet-sepolia",
                      "rootstock-mainnet",
                      "rootstock-testnet",
                      "linea-mainnet",
                      "linea-sepolia",
                      "settlus-septestnet",
                      "abstract-mainnet",
                      "abstract-testnet",
                      "apechain-mainnet"
                    ],
                    "default": "eth-mainnet"
                  },
                  "description": "<style>\n  .custom-style {\n    color: #048FF4;\n  }\n</style>\nNetwork identifier (e.g., eth-mainnet). Find more network enums <span class=\"custom-style\"><a href=\"https://dashboard.alchemy.com/chains\" target=\"_blank\">here</a></span>\n"
                },
                "excludeFilters": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": ["SPAM", "AIRDROPS"],
                    "default": "SPAM"
                  }
                },
                "includeFilters": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": ["SPAM", "AIRDROPS"],
                    "default": "SPAM"
                  }
                },
                "spamConfidenceLevel": {
                  "type": "string",
                  "enum": ["VERY_HIGH", "HIGH", "MEDIUM", "LOW"]
                }
              },
              "required": ["address", "networks"]
            }
          },
          "withMetadata": {
            "description": "Boolean - if set to `true`, returns metadata. Setting this to false will reduce payload size and may result in a faster API call. Defaults to `true`.",
            "type": "boolean",
[...]
