html.light #CodeConsole {
  --bg-color: #fafafa;
  --border-color: #eaeaea;
  --text-color: #111111;
  --secondary-text: #94a3b8;
  --button-bg: #383838;
  --button-hover: #4b5563;
  --button-text: #ededed;
  --quickstart-bg: #fbfbfb;
  --loader-border: #111111;
  --line-number-color: rgba(115, 138, 148, 0.4);
}

html.dark #CodeConsole {
  --bg-color: #121212;
  --border-color: #383838;
  --text-color: #ededed;
  --secondary-text: #94a3b8;
  --button-bg: #1c1c1c;
  --button-hover: #4b5563;
  --button-text: #ededed;
  --quickstart-bg: #131313;
  --loader-border: #ededed;
  --line-number-color: rgba(115, 138, 148, 0.4);
}

#CodeConsole {
  width: 100%;
  color: var(--text-color);
}

#CodeConsole .CodeBlockContainer {
  background-color: var(--bg-color);
  border-radius: 24px;
  border: 1px solid var(--border-color);
}

#CodeConsole .CodeBlockInner {
  padding: 24px 24px 0px;
}

#CodeConsole .TopBar {
  display: flex;
  justify-content: space-between;
}

#CodeConsole .SelectGroup {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 8px;
}

#CodeConsole .RequestLabel {
  color: var(--text-color);
  min-width: 9ch;
  display: inline-block;
}

#CodeConsole .CodeSample {
  margin-top: 24px;
  overflow-x: auto;
  height: 300px;
}

#CodeConsole .CodeSample code {
  counter-reset: step;
  counter-increment: step 0;
  box-shadow: none;
  background-color: transparent;
  white-space: unset;
  padding-inline: 0px;
}

#CodeConsole .CodeSample code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: var(--line-number-color);
}

#CodeConsole .LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  height: 300px;
  width: 100%;
}

#CodeConsole .LoaderSpinner {
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color);
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#CodeConsole .RunButton {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 6px 12px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: monospace;
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 8px;
}

#CodeConsole .RunButton:hover {
  background-color: var(--button-hover);
}

#CodeConsole .RunButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#CodeConsole .LoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  height: 300px;
  width: 100%;
}

#CodeConsole .LoaderSpinner {
  width: 16px;
  height: 16px;
  border: 2px solid var(--loader-border);
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#CodeConsole .QuickstartContainer {
  background-color: var(--quickstart-bg);
  border-radius: 0 0 24px 24px;
  padding: 24px 32px;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
}

#CodeConsole .QuickstartTitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}

#CodeConsole .QuickstartSubtitle {
  font-size: 14px;
}

#CodeConsole .QuickstartLinkContainer {
  display: flex;
  align-self: end;
}

#CodeConsole .QuickstartLink {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

#CodeConsole .QuickstartLink:hover {
  color: rgba(81, 103, 255, 1);
}
