/* ----- MAIN CONTENT SECTION ----- */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.25rem 3.125rem;
  box-shadow:
    0px -4.56rem 4.56rem 0px rgba(117, 152, 240, 0.09),
    0px -1.125rem 2.5rem 0px rgba(117, 152, 240, 0.1);
  margin-bottom: 0;
  z-index: 2;
  position: relative;
  background-color: var(--background);

  @media (min-width: 1024px) {
    padding: 5.5rem 0;
  }

  @media (max-width: 768px) {
    padding: 6.25rem 0.625rem;
  }

  h2 {
    font-size: 36px;
    font-weight: 500;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
  }
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--accent-12);
}

.use-cases {
  width: 1010px;

  div {
    border: none !important;
    /* text-align: left !important; */
    box-shadow: none !important;
  }

  .text-body {
    font-size: 20px !important;
    font-weight: 600 !important;
    color: var(--accent-12) !important;
  }
}

.footer-card-arrow {
  content: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 0L10.2713 6.4L14.4282 12L7.5 11.2L0.571797 12L4.72872 6.4L7.5 0Z' fill='black'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: -24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.product-card-arrow {
  content: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 0L10.2713 6.4L14.4282 12L7.5 11.2L0.571797 12L4.72872 6.4L7.5 0Z' fill='black'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: 125px;
  left: 8%;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: var(--accent-12);
  margin: 8px 0 8px 0;
}

.cta {
  font-size: 14px;
  font-weight: 500;

  a:link,
  a:visited {
    text-decoration: inherit;
    color: var(--accent-12);
  }

  svg {
    margin-left: 4px !important;
    height: 12px !important;
    width: 12px !important;
  }
}

.use-case-card {
  width: 500px;
  display: flex;
  text-align: left;
  padding: 24px;
}

.products {
  max-width: 1010px;

  .fern-card {
    max-width: 493px !important;
    min-height: 285px !important;
    padding: 146px 32px 32px 32px !important;
    /* background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 1) 25%,
        rgba(236, 54, 249, 1) 100%
      ),
      url("/assets/double-bubble-pattern.png") !important; */
    background-blend-mode: color !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    .text-body {
      color: black !important;
    }
  }
}

.product-card-description {
  width: 60% !important;
  color: black !important;
}

.homepage-code-block {
  margin: 76px 0px 80px 0px;
  width: 1010px;

  pre {
    height: 150px;
  }

  .code-block-title {
    margin-bottom: 24px;
  }
}

hr {
  width: 1010px;
  border: 1px solid var(--accent-3);
  margin: 60px 0px;
}

.footer {
  text-align: center;
  width: 1010px;

  div {
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
  }

  .text-body {
    font-size: 20px !important;
    font-weight: 600 !important;
    color: var(--accent-12) !important;
  }
}

.footer:first-child {
  gap: 64px !important;
}

.footer-card {
  width: 234px;
  padding: 16px;
}
