:root {
  --light-mode-text-color: 56, 56, 56;
  --dark-mode-text-color: 237, 237, 237;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.25rem 3.125rem;
  margin-bottom: 0;
  z-index: 2;
  position: relative;
  background-color: var(--background);
  @media (min-width: 1024px) {
    padding: 48px 0;
  }
  font-family: "Inter", sans-serif;

  @media (max-width: 768px) {
    padding: 6.25rem 0.625rem;
  }

  h2 {
    font-size: 36px;
    font-weight: 500;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
  }
}

.homepage-code-block {
  width: 60%;
  margin: 80px 0px;
}

.products {
  width: 60%;
}

.use-cases {
  width: 60%;

  div {
    border: none !important;
    box-shadow: none !important;
  }

  .text-body {
    font-size: 20px !important;
    font-weight: 600 !important;
    color: black !important;
  }

  :is(.dark) .text-body {
    color: rgb(var(--dark-mode-text-color)) !important;
  }
}

.footer-card-arrow {
  justify-self: center;
  margin-bottom: 24px;
  margin-top: 10px;
}

.product-card-arrow {
  margin-bottom: 12px;
}

.arrow {
  background: black;
  width: 14px;
  height: 12px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0L9.77128 6.4L13.9282 12L7 11.2L0.0717969 12L4.22872 6.4L7 0Z'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0L9.77128 6.4L13.9282 12L7 11.2L0.0717969 12L4.22872 6.4L7 0Z'/%3E%3C/svg%3E%0A");
}

:is(.dark) .arrow {
  background: rgb(var(--dark-mode-text-color));
}

:is(.dark) .arrow-pink {
  background: #f68eff;
}

:is(.dark) .arrow-orange {
  background: #f99436;
}

:is(.dark) .arrow-blue {
  background: #3650f9;
}

:is(.dark) .arrow-magenta {
  background: #f93697;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  margin: 8px 0 8px 0;
}

:is(.dark) .description {
  color: rgb(var(--dark-mode-text-color));
}

.cta {
  font-size: 14px;
  font-weight: 500;

  svg {
    margin-left: 4px !important;
    height: 12px !important;
    width: 12px !important;
  }
}

.fern-mdx-link {
  text-decoration: none !important;
}

:is(.dark) .cta {
  .fern-mdx-link {
    color: rgb(var(--dark-mode-text-color)) !important;

    .fern-mdx-icon {
      color: rgb(var(--dark-mode-text-color)) !important;
    }
    &:hover {
      color: rgba(var(--dark-mode-text-color), 0.6) !important;

      .fern-mdx-icon {
        color: rgba(var(--dark-mode-text-color), 0.6) !important;
      }
    }
  }
}

:is(.light) .cta {
  .fern-mdx-link {
    color: rgb(var(--light-mode-text-color)) !important;

    .fern-mdx-icon {
      color: rgb(var(--light-mode-text-color)) !important;
    }
    &:hover {
      color: rgba(var(--light-mode-text-color), 0.6) !important;

      .fern-mdx-icon {
        color: rgba(var(--light-mode-text-color), 0.6) !important;
      }
    }
  }
}

.use-case-card {
  display: flex;
  text-align: left;
  padding: 24px;
}

:is(.light) .dark-blue-bg {
  background-blend-mode: color-burn;
  background: url(https://fern-image-hosting.s3.us-east-1.amazonaws.com/alchemy/star-background.svg),
    linear-gradient(
      15deg,
      rgba(255, 255, 255, 0.8) 40%,
      rgba(54, 80, 249, 0.2) 100%
    );
}

:is(.light) .yellow-bg {
  background-blend-mode: color-burn;
  background: url(https://fern-image-hosting.s3.us-east-1.amazonaws.com/alchemy/star-background.svg),
    linear-gradient(
      15deg,
      rgba(255, 255, 255, 0.8) 40%,
      rgba(249, 148, 54, 0.2) 100%
    );
}
:is(.light) .pink-bg {
  background-blend-mode: color-burn;
  background: url(https://fern-image-hosting.s3.us-east-1.amazonaws.com/alchemy/star-background.svg),
    linear-gradient(
      15deg,
      rgba(255, 255, 255, 0.8) 40%,
      rgba(236, 54, 249, 0.2) 100%
    );
}

:is(.light) .light-blue-bg {
  background-blend-mode: color-burn;
  background: url(https://fern-image-hosting.s3.us-east-1.amazonaws.com/alchemy/star-background.svg),
    linear-gradient(
      15deg,
      rgba(255, 255, 255, 0.8) 40%,
      rgba(0, 187, 255, 0.2) 100%
    );
}

.product-card {
  min-height: 285px !important;
  padding: 32px !important;
  border: var(--accent-3) 1px solid;
  color: black !important;
}

:is(.dark) .product-card {
  color: rgb(var(--dark-mode-text-color)) !important;
}

.product-card:hover {
  box-shadow: 0px 0px 0.75rem 0px rgba(81, 103, 255, 0.1);
}

:is(.dark) .product-card {
  background: linear-gradient(
      206.24deg,
      rgba(17, 17, 17, 0.9) 24.78%,
      #111111 71.15%
    ),
    url(https://fern-image-hosting.s3.us-east-1.amazonaws.com/alchemy/star-background.svg);
}

.text-body {
  color: black !important;
}

:is(.dark) .text-body {
  color: rgb(var(--dark-mode-text-color)) !important;
}

.product-card-description {
  width: 60% !important;
  font-weight: 400;
  font-size: 14px;
}

.product-card-title {
  font-weight: 600 !important;
  font-size: 20px !important;
}

hr {
  width: 60%;
  border: 1px solid var(--accent-3);
  margin: 60px 0px;
}

.footer {
  text-align: center;
  width: 60%;

  div {
    box-shadow: none !important;
  }

  .text-body {
    font-size: 20px !important;
    font-weight: 600 !important;
  }
}

.footer:first-child {
  gap: 64px !important;
}

.footer-card {
  border-radius: 24px !important;
  padding: 16px;
}

:is(.dark) .footer-card {
  background-color: #111111;
  border: var(--accent-3) 1px solid !important;
}
