# yaml-language-server: $schema=https://spec.openapis.org/oas/3.1/schema/2022-10-07

openapi: 3.1.0
info:
  title: "⛓️ Block Timestamp API"
  version: "1.0"
servers:
  - url: https://api.g.alchemy.com/data/v1
security:
  - apiKey: []
paths:
  "/{apiKey}/utility/blocks/by-timestamp":
    get:
      summary: Blocks by Timestamp
      description: Fetches the first block before or after a given timestamp. Returns the block's number and on-chain timestamp.
      tags:
        - "Blocks API Endpoints"
      x-readme:
        samples-languages:
          - javascript
          - curl
          - python
          - go
      parameters:
        - $ref: "#/components/parameters/apiKey"
        - $ref: "#/components/parameters/networks"
        - $ref: "#/components/parameters/timestamp"
        - $ref: "#/components/parameters/direction"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockTimestampResponse"
        "400":
          description: "Bad Request: Malformed request or missing parameters."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Too Many Requests: Rate limit exceeded."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: blocks-by-timestamp
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      in: header
      description: An API key that will be supplied in a named header.
      x-default: "Bearer API_KEY"
  parameters:
    apiKey:
      name: apiKey
      in: path
      required: true
      schema:
        type: string
        default: docs-demo
      description: |
        For higher throughput, [create your own API key](https://dashboard.alchemy.com/?a=docs-demo)
    networks:
      name: networks
      in: query
      required: true
      schema:
        type: array
        minItems: 1
        maxItems: 3
        items:
          type: string
          default: eth-mainnet
      description: |
        <style>
          .custom-style {
            color: #048FF4;
          }
        </style>
        Array of networks to query on. The response will be an array with one block per network. Find network enums <span class="custom-style"><a href="https://dashboard.alchemy.com/chains" target="_blank">here</a></span>
    timestamp:
      name: timestamp
      in: query
      required: true
      schema:
        type: string
        default: "2025-02-28T19:38:57Z"
      description: Unix or ISO timestamp
    direction:
      name: direction
      in: query
      required: true
      schema:
        type: string
        enum:
          - BEFORE
          - AFTER
        default: AFTER
      description: Return the first block "BEFORE" or "AFTER" the provided timestamp
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: Detailed error message.
          required:
            - message
          description: Error details.
      required:
        - error
    BlockTimestampResponse:
      type: object
      properties:
        data:
          type: array
          description: List of blocks
          items:
            $ref: "#/components/schemas/BlockTimestampResponseItem"
      required:
        - data
    BlockTimestampResponseItem:
      type: object
      properties:
        network:
          type: string
          description: Network identifier
        block:
          type: object
          properties:
            number:
              type: integer
              description: Block number
            timestamp:
              type: string
              description: ISO timestamp of the block
          required:
            - number
            - timestamp
      required:
        - network
        - block
