openapi: 3.1.0
info:
  title: 📝 Transaction History
  version: "1.0"
servers:
  - url: https://api.g.alchemy.com/data
paths:
  "/{apiKey}/tokens/by-address":
    get:
      summary: Transactions by Address
      description: |
        The Transaction History API endpoint allows you to query historical transactions for any address, across all chains
      tags: ["Txn History API Endpoints"]
      x-readme:
        samples-languages:
          - javascript
          - curl
          - python
          - go
      parameters:
        - $ref: '#/components/schemas/apiKey'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/by-address'
        "400":
          description: 'Bad Request: Invalid input (e.g., malformed JSON).'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: 'Too Many Requests: Rate limit exceeded.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"


components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      in: header
      description: An API key that will be supplied in a named header.
      x-default: Bearer API_KEY

  schemas:
    apiKey:
      name: apiKey
      in: path
      schema:
        type: string
        default: docs-demo
        description: |
          <style>
            .custom-style { color: #048FF4; }
          </style>
          For higher throughput, <span class="custom-style"><a href="https://alchemy.com/?a=docs-demo" target="_blank">create your own API key</a></span>
      required: true

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: Detailed error message.
          required:
            - message
          description: Error details.
      required:
        - error

    transaction_history_top_object:
      type: object
      properties:
        network:
          type: string
          description: "Network associated with an individual transaction"
        hash:
          type: string
          description: "Transaction hash"
        status:
          type: string
          description: '["confirmed", "failed", "removed"]'
        nonce:
          type: integer
          description: "Transaction nonce"
        transactionIndex:
          type: integer
          description: "Position of transaction within the block"
        from:
          type: string
          description: "Sender's address"
        to:
          type: string
          description: "Recipient's address"
        value:
          type: string
          description: "Value transferred in native token (hex)"
        cumulativeGasUsed:
          type: string
          description: "Cumulative gas used (hex)"
        transactionFee:
          type: string
          description: "Fee paid for transaction"
        blockNumber:
          type: integer
          description: "Block number where the transaction was mined"
        blockHash:
          type: string
          description: "Hash of the block containing the transaction"
        blockTimestamp:
          type: string
          description: "Timestamp of the block (ISO 8601 format)"
        logs:
          type: array
          description: "Array of logs generated by this transaction"
          items:
            $ref: "#/components/schemas/txn_history_log_object"
        internalTxns:
          type: array
          description: "Array of internal transactions generated"
          items:
            $ref: "#/components/schemas/txn_history_trace_object"

    txn_history_log_object:
      type: object
      properties:
        address:
          type: string
          description: "Contract address emitting the log"
        data:
          type: string
          description: "Data payload of log"
        topics:
          type: array
          items:
            type: string
          description: "Log topics"

    txn_history_trace_object:
      type: object
      properties:
        type:
          type: string
          description: "Type of internal transaction (CALL, CREATE, etc.)"
        fromAddress:
          type: string
          description: "Sender address of the internal transaction"
        toAddress:
          type: string
          description: "Receiver address of the internal transaction (null if contract creation)"
        value:
          type: string
          description: "Value transferred in internal transaction"
        gas:
          type: string
          description: "Gas provided for internal transaction"
        gasUsed:
          type: string
          description: "Gas used by internal transaction"
        input:
          type: string
          description: "Input data for internal transaction"
        output:
          type: string
          description: "Output data from internal transaction"
        error:
          type: string
          description: "Error message, if any"
        revertReason:
          type: string
          description: "Revert reason from contract execution, if any"

    by-address:
      type: object
      properties:
        result:
          type: object
          properties:
            transactions:
              type: array
              items:
                $ref: '#/components/schemas/transaction_history_top_object'
            before:
              type: string
              description: "Cursor for previous page"
            after:
              type: string
              description: "Cursor for next page"